.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }



.mat-card-header .mat-card-title {
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(13, 174, 202);
}

h1 {
    font-weight: bold;
    color: rgb(13, 174, 202);
    font-size: xx-large;
}