<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/view-appointments">View Appointments</a>
      <a class="nav-item nav-link" routerLink="/create-appointments">Create an Appointment</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
<!-- <div *ngIf="currentUser==null">
  <app-login></app-login>
</div> -->

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <!-- <alert></alert> -->
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
